<div>
<form class='form' action="/users/new" method="post">
  
  <div id='user_image'>Upload user image</div>
  
 <label>
  Name: <input type="text" name="name"> 
  </label>

  <label>
  Email: <input type="text" name="email"> 
  </label>
  <button>Sumbit Entry</button>

</form>
</div>