<div>
<form class='form' action="/users/new" method="post">
  
  <div id='user_image'>Upload user image
    <button>Upload</button>
  </div>
 <br> 
 <div id='user_info'>
 <label>
  Name: <input type="text" name="name"> 
  </label>

  <br>
  <label>
  Email: <input type="text" name="email"> 
  </label>
</div> 
  <br>
  <button>Sumbit Entry</button>

</form>
</div>