<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li><a href='/users/{{id}}'>{{name}}</a> ({{email}})</li>
    {{/each}}
    </ul>
    <button><a href='/users/new'>Add new user!</a></button>
  </body>
</html>
